[variables]
pause_park:{'x': 240, 'y': 10, 'z': 10, 'e': 2}
cancel_park:{'x': 240, 'y': 240, 'z': 10, 'e': 5}
extruder_temp:{'probing': 140, 'cleaning': 200, 'load': 230, 'purging': 250}
z_maximum_lifting_distance: 250
pause_resume_travel_speed: 150
adaptive_mesh:True
kamp:true
#filepath = ''
#last_file = ''
#power_resume_z = 0
#was_interrupted = False